/* .app-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:rgb(230, 230, 230);
}
.App{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px rgba(40, 55, 59, 0.5);
}
input{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(160, 160, 160);
  background-color: #fcfcfc;
  margin-bottom: 10px;
}
button{
  padding: 10px;
  background-color: #05838b;
  color: white;
  border: 1px solid #05838b;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.411);
  transition: background-color 0.3s linear;
}
button:hover{
  cursor: pointer;
  color: #05838b;
  background-color: white;
  border: 1px solid #05838b;
  transition: background-color 0.3s linear;
}
h2{
  color: #05838b;
}


  @media screen and (max-width:425px) and (min-width:320px) {
    .App{
      background-color: white;
      padding: 20px;
      border-radius: 20px;
      width: 70%;
      
    }
    h1{
      font-size: 24px;
      
    }
    h2{
      font-size: 18px;
      color: #05838b;
    }
    input{
      width: 80%;
      padding: 5px;
      margin-bottom: 10px;
    }
    button{
      padding: 10px;
      border-radius: 10px;
      border: none;
      background-color: #05838b;
      color: white;
      
    }
    .generated-url li{
      font-size: 14px;
      

    }
    .generated-url ul{
      padding-left: 20px;
    }
  } */


 /* App.css */

.app-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box; /* Add this line */
}

input[type="text"] {
  width: 100%;
}

button {
  width: 100%;
  background-color: #15c9d6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #05838b;
}

.generated-url {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .App {
    width: 90%;
    padding: 10px;
  }
}
